* {
  box-sizing: border-box;
}

#nav {
  background-color: #ff6600;
  width: 100%;
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#content {
  /*border: 1px solid blue; */ /* 排版完要拿掉 */
  position: relative;
  top: 78px;
  padding: 15px;
}
#content > .container > div {
  padding: 78px 0;
}
.container {
  /*border: 1px solid #ccc; */ /* 排版完要拿掉 */
  width: 800px;
  margin: 0 auto;
}
#about,#my-work,#contact-me {
  /*border: 1px solid yellow;*/ /* 排版完要拿掉 */
}
/* menu bar */
.menu li {
  width: 150px;
  padding: 10px 0px;

  border: 1px solid #fff;
  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: #ff6600;
  color: #fff;
  display: inline-block;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
}
li:hover {
  border: 1px solid #ff6600;
  background-color: #fff;
}
li:hover a {
  color: #ff6600;
  font-weight: 800;
}
/* 水平線樣式 */
hr.bar {
  border: 2px solid #ff6600;
  width: 80px;
}
/* 各種小修改 */
.menu {
  float: right;
}
h1 {
  text-align: center;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}
#my-work-gallery {
  text-align: center;
}

/* about me */
#my-avatar {
  /*border: 1px solid red; */ /* 排版完要拿掉*/
  float: left; /*文繞圖*/
  margin-right: 20px;
  width: 200px;
}
#my-avatar img {
  width: 100%;
}
h1 {
  margin-bottom: 0;
}
h3 {
  margin: 0;
}
table {
  font-size: 14px;
  text-align: left;
}

th,td {
  vertical-align: top;
}
td {
  color: #666;
  padding-left: 10px;
}
hr {
  border: 0.5px solid #eee;
}

/* my work */
.item {
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom: 10px;
}
.item img {
  width: 100%
}
.item-info {
  /*border: 1px solid red; */ /* 排版完要拿掉 */
  background-color: rgba(255,255,255,.8); /*背景半透明*/

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 10px;

  /* 游標滑過圖片顯示說明文字,作法1-opacity*/
  /* 游標滑過圖片顯示說明文字,作法2-繼承選擇器 :item display none + hover display block*/
  /*opacity: 0;*/
  display: none;
}
/*.item-info:hover {
  opacity: 1;
}*/
.item:hover .item-info {
display: block;
}
/* contact me*/
#contact-me {
  /*border: 1px solid green; */ /* 排版完要拿掉 */
}
form.contact-form {
  /*border: 1px solid red;  */ /* 排版完要拿掉 */
  width: 50%;
  margin: 0 auto;
}
.form-row {
  margin-bottom: 15px;
}
.form-row input ,.form-row textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #D6D9DC;
  padding: 7px;
}
.form-row textarea {
  resize: none;
  height: 4em;
}
.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}
.form-row button[type="submit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}
.form-row button:hover {
  background-color: #76AEED;
}
.form-row button:active {
  background-color: #407FC7;
}
/*-----------------------------------*/
@media screen and (min-width: 1024px) {
  .menu-button,
  .menu-button-checkbox {
    display: none;
  }

}


@media screen and (max-width: 1023px) {
  /*
    手機版的 css 都寫在這邊
  */
  .container {
    width: auto;
  }

  .menu-button {
    float: right;
    font-size: 25px;
    line-height: 40px;
    color: white;
    background: transparent;
    padding: 0 15px;
    border: 0;
  }

  .menu-button-checkbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 40px;
    opacity: 0;
  }

  .menu-button-checkbox:checked ~ .menu {
    display: block;
  }

  .menu {
    display: none;
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 150px;
    height: 100%;
    background: #ff6600;

  }
  
  .menu li {
    border: 0;
    border-radius: 0;
  } 

  #my-avatar {
    width: 100%;
  }

  #my-avatar img {
    display: block;
    margin: 15px auto;
  }

  .item {
    max-width: 100%;
  }

  form.contact-form {
    width: 80%;
  }
}